.DS_Store
**/.DS_Store
__MACOSX/
**/__MACOSX/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venv/**

build/
dist/
Output/

runtime/
runtime/**
*.log
*.pid
*.cookies
*.session
*.session-*
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal
.git/

config/server.yaml
config/client.yaml
